<h3>Create Student</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="container" style="width: 700px">
      <div class="row">
        <div class="col">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" style="width: 200px" class="form-control" id="name" required [(ngModel)]="student.name" name="name">
    </div></div>
        <div class="col">
    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" style="width: 200px" class="form-control" id="email" required [(ngModel)]="student.email" name="email">
    </div>
        </div></div>
      <div class="row">
        <div class="col">
    <div class="form-group">
      <label for="name">User Name</label>
      <input type="text" style="width: 200px" class="form-control" id="userName" required [(ngModel)]="student.userName" name="userName">
    </div></div>
        <div class="col">
    <div class="form-group">
      <label for="name">Password</label>
      <input type="text" style="width: 200px" class="form-control" id="password" required [(ngModel)]="student.password" name="password">
    </div></div></div>
      <div class="row">
        <div class="col">
    <div class="form-group">
      <label for="name">Date Of Birth</label>
      <input type="text" placeholder="yyyy-mm-dd" style="width: 200px" class="form-control" id="emailId" required [(ngModel)]="student.dateOfBirth" name="emailId">
    </div></div>

        <div class="col">
          <div class="form-group">
            <label for="name">Gender</label>
            <input type="text" style="width: 200px" class="form-control" id="gender" required [(ngModel)]="student.gender" name="gender">
          </div>
          <button type="submit" class="btn btn-success" style="float: right">Submit</button></div></div>
    </div>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
