<h3>Create Course</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="container" style="width: 700px">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" style="width: 200px" class="form-control" id="name" required [(ngModel)]="course.name" name="name">
          </div></div>
        <div class="col">
          <div class="form-group">
            <label for="name">Description</label>
            <input type="text" style="width: 200px" class="form-control" id="email" required [(ngModel)]="course.description" name="email">
          </div>
        </div></div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">Total Hourse</label>
            <input type="text" style="width: 200px" class="form-control" id="userName" required [(ngModel)]="course.totalHours" name="userName">
          </div></div>
        <div class="col">
          <div class="form-group">
            <label for="name">Instractor</label>
            <input type="text" style="width: 200px" class="form-control" id="password" required [(ngModel)]="course.instructor" name="password">
          </div></div></div>
      <div class="row">
          <div class="col"><button type="submit" class="btn btn-success" style="float: right">Submit</button></div></div>
      </div>
  </form>

</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
