<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Course List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped" style="text-align: center">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>publishDate</th>
        <th>TotalHours</th>
        <th>Instructor</th>
        <th align="right">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let course of courses | async">
        <td>{{course.name}}</td>
        <td>{{course.description}}</td>
        <td>{{course.publishDate | date:"MM/dd/yy"}}</td>
        <td>{{course.totalHours}}</td>
        <td>{{course.instructor}}</td>
        <td><button (click)="deleteCourse(course.id)" class="btn btn-danger">Delete</button>
          <button (click)="updateCourse(course.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
