
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="students" class="nav-link" routerLinkActive="active">Student List</a>
    </li>
    <li class="nav-item">
      <a routerLink="student/add" class="nav-link" routerLinkActive="active">Add Student</a>
    </li>
    <li class="nav-item">
      <a routerLink="courses" class="nav-link" routerLinkActive="active">Course List</a>
    </li>
    <li class="nav-item">
      <a routerLink="course/add" class="nav-link" routerLinkActive="active">Add Course</a>
    </li>
  </ul>
</nav>

<div class="container container-fluid body-content">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <h5 style="margin-top: 20px"><span>copyrights by mahmoudgmatar@gmail.com</span></h5>
  </div>
</footer>
