<h2>Student Details</h2>

<hr/>
<div *ngIf="student">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" disabled class="form-control" id="firstName" required [(ngModel)]="student.name" name="firstName">
        </div></div>
      <div class="col">
        <div class="form-group">
          <label for="name">Email</label>
          <input type="text" disabled class="form-control" id="lastName" required [(ngModel)]="student.email" name="lastName">
        </div>
      </div></div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="name">User Name</label>
          <input type="text" disabled class="form-control" id="emailId" required [(ngModel)]="student.userName" name="emailId">
        </div></div>
      <div class="col">
        <div class="form-group">
          <label for="name">Password</label>
          <input type="text" disabled class="form-control" id="emailId" required [(ngModel)]="student.password" name="emailId">
        </div></div></div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="name">Date Of Birth</label>
          <input type="text" disabled class="form-control" id="emailId" required [(ngModel)]="student.dateOfBirth" name="emailId">
        </div></div>

      <div class="col">
        <div class="form-group">
          <label for="name">Gender</label>
          <input type="text" disabled class="form-control" id="gender" required [(ngModel)]="student.gender" name="gender">
        </div></div></div></div>
</div>
<br>
<br>

<style>
  .hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
</style>



<div *ngIf="studentCourses">
  <h2 style="color: blue">Registed Courses</h2>
  <div class="hr"></div>

  <div class="container" *ngFor="let courseitem of studentCourses;let i = index">
    <h5 style="color: red">Course {{i+1}}</h5>
    <button  (click)="unRegisterCourse(courseitem.id);" class="btn btn-info" style="background:brown;margin-left: 400px">unregister</button>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" disabled class="form-control" id="firstName" required [(ngModel)]="courseitem.name" name="firstName">
        </div></div>
      <div class="col">
        <div class="form-group">
          <label for="name">Description</label>
          <input type="text" disabled class="form-control" id="lastName" required [(ngModel)]="courseitem.description" name="lastName">
        </div>
      </div></div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="name">Total Hours</label>
          <input type="text" disabled class="form-control" id="emailId" required [(ngModel)]="courseitem.totalHours" name="emailId">
        </div></div>
      <div class="col">
        <div class="form-group">
          <label for="name">Instructor</label>
          <input type="text" disabled class="form-control" id="emailId" required [(ngModel)]="courseitem.instructor" name="emailId">
        </div></div></div>

  <br>
  </div></div>
    <button (click)="list()" class="btn btn-primary" style="float: right">Back to Student List</button><br>
