<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>student List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped" style="text-align: center">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
        <th>DateOfBirth</th>
        <th>Gender</th>
        <th align="right">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students | async">
        <td>{{student.name}}</td>
        <td>{{student.email}}</td>
        <td>{{student.userName}}</td>
        <td>{{student.dateOfBirth | date:"MM/dd/yy"}}</td>
        <td>{{student.gender}}</td>
        <td><button (click)="deleteStudent(student.id)" class="btn btn-danger">Delete</button>
          <button (click)="studentDetails(student.id)" class="btn btn-info" style="background: blueviolet !important;margin-left: 10px">View</button>
          <button (click)="updateStudent(student.id)" class="btn btn-info" style="margin-left: 10px">Register</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
