/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.footer {
  position: absolute;
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: blue;
  text-align: center;
  color: white;
}
html {
  height: 100%;
}
html body {
  height: 100%;
  overflow: hidden;
}
html body .container-fluid.body-content {
  position: absolute;
  top: 60px;
  bottom: 50px;
  right: 0;
  left: 0;
  overflow-y: auto;
}
.container-fluid.body-content {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}
.container-fluid.body-content::-webkit-scrollbar {
  width: 11px;
}
.container-fluid.body-content {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.container-fluid.body-content::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.container-fluid.body-content::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

