<h3>Update Course</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="course.name" name="firstName">
          </div></div>
        <div class="col">
          <div class="form-group">
            <label for="name">Description</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="course.description" name="lastName">
          </div>
        </div></div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">publishDate</label>
            <input type="text" class="form-control" id="publishDate" required [(ngModel)]="course.publishDate" name="publishDate">
          </div></div>
        <div class="col">
          <div class="form-group">
            <label for="name">TotalHours</label>
            <input type="text" class="form-control" id="totalHours" required [(ngModel)]="course.totalHours" name="totalHours">
          </div></div></div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">Instructor</label>
            <input type="text" class="form-control" id="emailId" required [(ngModel)]="course.instructor" name="emailId">
          </div></div></div></div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

</div>
